#sidebar {
    min-height: 100vh;
}
#sidebar,
#logo {
    width: 209px;
}
#logo {
    padding: 24px 24px 12px;
}
@media (min-width: 1200px) {
    #sidebar,
    #logo {
        width: 279px;
    }
}

.sidebar-nav .nav-item {
    display: block;
    width: 100%;
}

#sidebar .nav-item .nav-link {
    color: #a8a8a6;
    text-shadow: -1px -1px 1px #222;
}

#sidebar .nav-item .nav-link.active {
    color: #fdb811;
}

.col-conta-icone {
    max-width: 6em;
    min-width: 3em;
    width: 26.66%;
}
.col-conta-icone img {
    display: block;
    width: 100%;
    height: auto;
}

.width-auto {
    width: auto;
}

.col-icones {
    width: 2em;
}
.col-icones i {
    background-color: var(--gray);
    color: white;
    padding: 0.5em;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
}
.col-icones i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mov-icone i {
    font-size: 2em;
    color: #FFF;
    padding: 0.5em;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    margin-right: 0.5em;
}

.mov-dados p,
.mov-valores p {
    margin: 0;
    font-size: 1.2em;
}
.fixa-icone i {
    font-size: 1em;
    color: #FFF;
    padding: 0.5em;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin-right: 0.5em;
}

label {
    font-weight: bold;
}
